%h1
  = "Confirmation"
%hr
%div.row
  %div.row
    %span.col-md-4
      = $item->name
    %span.col-md-2.col-md-offset-6.text-center
      = "$item->price EGP"
  %hr
  %div.row
    %b.col-md-2.col-md-offset-10.text-center
      = "Total : $item->price EGP"
  %div.row{"style" => "margin-top:10px"}
    %span.col-md-2.col-md-offset-10.text-center
      %form{"method"=>"POST", "action" => "#{$controller->getPath("Transaction","checkout",false)}"}
        %input{ "type" => "hidden", "value" => "#{$item->id}", "name" => "itemId"}
        %input.btn.btn-success{"type" => "submit", "value" => "Checkout"}

    
