!!!
%html
  %head
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/bootstrap.min.css"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/bootstrap-theme.min.css"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/assets/stylesheets/main.css.scss"}
    %title El Msl7a
  %body
    .container
      %nav{:class => "navbar navbar-default", :role => "navigation"}
        .container-fluid
          %ul.nav.navbar-nav
            %li
              %a{:href => "#{$controller->getPath("Site","index")}"} Home
            - if (!$controller->isGuest())
              %li
                %a{:href => "#{$controller->getPath("Transaction","history")}"} Transactions
          .pull-right.mts
            - if ($controller->isGuest())
              %a{:href => "#{$controller->getPath("Site","login")}"} = 'Sign in'
              = "  |  "
              %a{:href => "#{$controller->getPath("Site","register")}"} = 'Register'
            - else
              %a{:href => "#{$controller->getPath("User","edit")}"}
                = $controller->signedInUser()->firstName
              = " | "
              %a{:href => "#{$controller->getPath("User","logout")}"} = "Sign out"
      .container-fluid
        = $layoutContent
    %hr
    .text-center
      %b
        Built with love in 4 hours <3
        %br
        2014-2020
    %script{"src" => "/assets/javascript/jquery-2.1.1.min.js"}
    %script{"src" => "/assets/javascript/bootstrap.min.js"}
    %script{"src" => "/assets/javascript/main.js.coffee"}
    
