%h1
  = "Edit Your Information"
%hr
%form{"method"=>"POST", "action" => "#{$controller->getPath("User","save",false)}"}
  %label.control-label First Name
  %input{"type" => "textbox", "placeholder" => "#{$firstName}", "name" => "firstName"}
  %hr
  %label.control-label Last Name
  %input{"type" => "textbox", "placeholder" => "#{$lastName}", "name" => "lastName"}
  %hr
  %label.control-label Email
  %input{"type" => "textbox", "placeholder" => "#{$email}", "name" => "email"}
  %hr
  %label.control-label Password
  %input{"type" => "password", "name" => "password"} 
  %hr
  %label.control-label Profile Picture Path
  %input{"placeholder" => "#{$profilePicturePath}", "name" => "profilePicturePath"}
  %hr
  %input.btn.btn-success{"type" => "submit", "value" => "Save"}