%h1
  = "Edit Your Information"
%hr
.div.row.text-center
  %img.col-md-4.col-md-offset-4{ "src" => "#{$profilePicturePath}" }
%br
%form.row.text-center{"method"=>"POST", "action" => "#{$controller->getPath("User","save",false)}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "First Name", "name" => "firstName", "value" => "#{$firstName}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "Last Name", "name" => "lastName", "value" => "#{$lastName}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"required" =>"true", "type" => "textbox", "placeholder" => "Email", "name" => "email", "value" => "#{$email}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"type" => "password", "name" => "password", "placeholder" => "Password" } 
  .row.form-group.col-md-4.col-md-offset-4
    %input.form-control{"type" => "textbox", "placeholder" => "Profile Picture Path", "name" => "profilePicturePath", "value" => "#{$profilePicturePath}"}
  .row.form-group.col-md-4.col-md-offset-4
    %input.btn.btn-success{"type" => "submit", "value" => "Save"}
